body {
    font-family: 'Montserrat';
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}


p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.8;
}

.small-heading {
    font-size: 1.5rem;
    line-height: 1.5;
}


/* Container */

.container-fluid {
    padding: 3% 15% 7%;
}


/* Sections */

.coloured-section {
    background-color: #021b44;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: Bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}


/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Title Section */

#title {

    text-align: left;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.img-div {
    position: relative;
}


/* Features Section*/

#features {
    padding: 10% 15%;
    position: relative;
    z-index: 1;
}

.feature-box {
    padding: 5%;
}

.feature-icon {
    color: #021b44;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-p {
    margin: 0 auto;
    width: 250px;
}

.row {
    margin-right: 0;
}


/* Testimonials Section */

#testimonials {
    background-color:#021b44;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */

#press {
    background-color: #021b44;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.pricing-text {
    font-family: 'Montserrat';
}


/* Call To Action & Footer */

#cta {
    padding: 5% 15%;
}

#footer {
    padding: 3% 15% 0;
}

.action-call {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.icon-brand {
    padding: 10px 10px 50px; 
}

.copyright {
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
}


@media (max-width: 1028px) {
    
    p {
        font-size:large;
    }

    .big-heading {
        font-size: xx-large;
    }

    .section-heading {
        font-size: x-large;
    }

    .media-h2 {
        font-size: xx-large;
    }

    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}